body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(255, 255, 255);
    padding: 0;
    margin:0;
}
.judul{
    Font-family: sans-serif;
    font-size: xx-large;
    padding : 20px 0 0 5px;
}
.konten{
    width: 65%;
    height: auto;
    background: white;
    margin:auto;
    margin-top: 5px;
    padding-bottom: 10px;
}
nav ul {
    list-style-type: none;
    margin: 15px 0 30px 0;
    padding: 0;
    overflow: auto;
    background-color: maroon;
    border: 1px solid white;
}

nav li {
    float: left;
}
nav li a:hover {
    opacity:0.9;
    background-color: #3385ff;
}
nav li a{
    display: inline-block;
    color:#ffffff;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
}
.sumber{
    margin: 0 0 20px 5px;
    font-size: small;
}
.sumber a{
    margin: 0 0 20px 5px;
    font-size: small;
}
.isi img{
    width: 20.8%;
    height: 155px;
    margin: 5px 5px 0 5px;
    border: 1px solid black;
}
.lain{
    margin:100px 0 0 5px;
}
.lain p{
    font-size: x-large;
    font-family: sans-serif;
}
article .isi p{
    margin:5px 0 0 5px;

}
article .sumber a{
    color: black;
    font-size: medium;
}
.judul1{
    font-size: larger;
    margin: 25px 0 5px 5px;
}
.lain1 img{
    width: 15%;
    height: 125px;
    margin: 5px 5px 5px 5px;
    border: 1px solid black;
}
